<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page</h1>

    <h2> <%= "html".toUpperCase() %> escaped</h2>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laborum quo consequuntur neque, ratione provident officia, consectetur repudiandae, enim in repellat sunt totam maxime. Neque aut facere facilis magni optio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laborum quo consequuntur neque, ratione provident officia, consectetur repudiandae, enim in repellat sunt totam maxime. Neque aut facere facilis magni optio.</p>


</body>
</html>